<div class="loading-shade" *ngIf="mainLS || isErrorOccurred" style="display:flex; flex-direction: column;">
    <div *ngIf="mainLS && !isErrorOccurred" class="indication-message">
        <mat-spinner diameter="40">
        </mat-spinner> &nbsp; &nbsp;
        <span style="color: #ffffff">Loading . . . please wait !</span>
    </div>
    <div *ngIf="mainLS && isErrorOccurred">
        <fa-icon [icon]="faFrownOpen" class="error-class indication-message">
        </fa-icon> &nbsp; &nbsp;
        <span class="error-class">Sorry, Something went wrong !</span>
    </div>
</div>



<div *ngIf="!mainLS && !isErrorOccurred" style="margin-top: 3%;">
    <div class="row">
        <div class="col-md-3 statContainer">
            <div class="statBox" style="background-image: linear-gradient(to right, #10069f, #190bda);">
                <span class="statLabel">Confirmed</span>
                <hr>
                <span class="statValues">{{countryWiseData["All"]["confirmed"] | number : '1.0':'en-US'}}</span>
            </div>
        </div>

        <div class="col-md-3 statContainer">
            <div class="statBox" style="background-image: linear-gradient(to right, #f0d50a, #fae547);">
                <span class="statLabel" style="color: #000000;">Active</span>
                <hr>
                <span class="statValues" style="color: #000000;">{{ (countryWiseData["All"]["confirmed"] -
                    (countryWiseData["All"]["recovered"] + countryWiseData["All"]["deaths"])) | number :
                    '1.0':'en-US'}}</span>
            </div>
        </div>

        <div class="col-md-3 statContainer">
            <div class="statBox" style="background-image: linear-gradient(to right, #078c03, #0ab304);">
                <span class="statLabel">Recovered</span>
                <hr>
                <span class="statValues">{{countryWiseData["All"]["recovered"] | number : '1.0':'en-US'}}</span>
            </div>
        </div>

        <div class="col-md-3 statContainer">
            <div class="statBox" style="background-image: linear-gradient(to right, #c00404, #f22e2e);">
                <span class="statLabel">Deaths</span>
                <hr>
                <span class="statValues">{{countryWiseData["All"]["deaths"] | number : '1.0':'en-US'}}</span>
            </div>
        </div>

    </div>

    <br> <br> <br>
    <div style="display: flex;justify-content: center;">
        <div class="row" style="width: 60%;">

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped  table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td>Population</td>
                                <td>{{countryWiseData["All"]["population"] | number : '1.0':'en-US'}}</td>
                            </tr>
                            <tr>
                                <td>Cases per million</td>
                                <td>{{(countryWiseData["All"]["confirmed"] /
                                    countryWiseData["All"]["population"])*1000000 | number : '1.0':'en-US'}}</td>
                            </tr>
                            <tr>
                                <td>Active ratio</td>
                                <td>{{( (countryWiseData["All"]["confirmed"] - (countryWiseData["All"]["recovered"] +
                                    countryWiseData["All"]["deaths"])) / countryWiseData["All"]["confirmed"])*100 |
                                    number : '1.0':'en-US'}}</td>
                            </tr>
                            <tr>
                                <td>Recovery ratio</td>
                                <td>{{(countryWiseData["All"]["recovered"] / countryWiseData["All"]["confirmed"])*100 |
                                    number : '1.0':'en-US'}}</td>
                            </tr>
                            <tr>
                                <td>Death ratio</td>
                                <td>{{(countryWiseData["All"]["deaths"] / countryWiseData["All"]["confirmed"])*100 |
                                    number : '1.0':'en-US'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>